# CHAPTER#2     (PRACTICE PROBLEM)

# #2.1

In [2]:
#(a)
1+2+3+4+5

15

In [3]:
#(b)
a=[23,19,31]
sum(a)/len(a)

24.333333333333332

In [4]:
#(c)
403//73

5

In [6]:
#(d)
403%73

38

In [7]:
#(e)
2**10

1024

In [8]:
#(f)
abs(54-57)

3

In [10]:
#(g)
a=[34.99,29.95,31.50]
min(a)

29.95

# #2.2

In [12]:
#(a)
2+2<4

False

In [13]:
#(b)
7//3==1+1

True

In [14]:
#(c)
3**2+4**2==25

True

In [15]:
#(d)
2+4+6>12

False

In [21]:
#(e)
1387%19==0

True

In [22]:
#(f)
31%2==0

False

In [24]:
#(g)
min(34.99,29.95,31.50)<30.00

True

# #2.3

In [25]:
#(a)
a=3

In [26]:
#(b)
b=4

In [28]:
#(c)
c=a*a+b*b
print(c)

25

# #2.4

In [35]:
s1='ant'
s2='bat'
s3='cod'

In [37]:
#(a)
s1+' '+s2+' '+s3

'ant bat cod'

In [44]:
#(b)
(s1+' ' )*10

'ant ant ant ant ant ant ant ant ant ant '

In [45]:
#(c)
s1+' '+(s2+' ')*2+(s3+' ')*3

'ant bat bat cod cod cod '

In [47]:
#(d)
(s1+' '+s2+' ')*7

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [49]:
#(e)
(s2+''+s2+''+s3+' ')*5

'batbatcod batbatcod batbatcod batbatcod batbatcod '

# #2.5

In [51]:
s='0123456789'

In [53]:
#(a)
s.index('0')

0

In [54]:
#(b)
s.index('1')

1

In [55]:
#(c)
s.index('6')

6

In [56]:
#(d)
s.index('8')

8

In [57]:
#(e)
s.index('9')

9

# #2.6

In [58]:
words=['bat','ball','barn','basket','badminton']

In [59]:
min(words)

'badminton'

In [60]:
max(words)

'bat'

# #2.7

In [2]:
grades=[9,7,7,10,3,9,6,6,2]

In [3]:
#(a)
grades.count(7)

2

In [4]:
#(b)
grades[-1]=4

In [5]:
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [6]:
#(c)
max(grades)

10

In [8]:
#(d)
grades.sort()
grades

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [9]:
#(e)
sum(grades)/len(grades)

6.777777777777778

# #2.8

In [12]:
#(a)
(2+3==4) or (4>=5)

False

In [40]:
#(b)
lst=[1]
(((lst)*(-3))and(-3<-10))==0

False

In [41]:
#(c)
(((lst)*(-3))and(-3<-10)) in [0,True]

False

In [44]:
#(d)
2*(3**2)

18

In [45]:
#(e)
4/2 in [1,2,3]

True

# #2.9

In [55]:
#(a)
type((False)+(False))

int

In [52]:
#(b)
type(2*(3**2.0))

float

In [53]:
#(c)
type((4//2)+(4%2))

int

In [54]:
#(d)
type((2+3)==4 or (5>=5))

bool

# #2.10

In [75]:
#(a)
import math
a=2
b=4
math.sqrt(a**2+b**2)==0

TypeError: 'int' object is not callable

In [63]:
#(b)
math.sqrt(a**2+b**2)==5

False

In [66]:
#(c)
import math
a=2
area=('The area of a disk of radius is:')
math.pi=a**2
print(area,math.pi)

The area of a disk of radius is: 4

In [78]:
#(d)
x=1
a=2
y=3
b=4
r=5
(x-a)**2+(y-b)**2<r**2

True

# EXERCISES

# #2.11

In [79]:
#(a)
a=[-7,-6,-5,-4,-3,-2,-1]
sum(a)

-28

In [80]:
#(b)
lst=[17,9,24,10,21,11,27,12]   jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
sum(lst)/len(lst)

16.375

In [81]:
#(c)
2**-20

9.5367431640625e-07

In [82]:
#(d)
4356//61

71

In [83]:
#(e)
4365%61

34

# #2.12

In [84]:
s1='-'
s2='+'

In [85]:
#(a)
s1+''+s2

'-+'

In [86]:
#(b)
s1+''+s2+''+s1

'-+-'

In [88]:
#(c)
s2+''+s1+''+s1

'+--'

In [89]:
#(d)
s2+''+s1+''+s1+''+s2+''+s1+''+s1

'+--+--'

In [99]:
#(e)
(s2+''+s1+''+s1)*10

'+--+--+--+--+--+--+--+--+--+--'

In [100]:
#(f)
(s2+''+s1+''+s2+''+s2+''+s2+''+s1+''+s1)*5

'+-+++--+-+++--+-+++--+-+++--+-+++--'

# 2.13

In [101]:
s='abcdefghijklmnopqrstuvwxyz'

In [103]:
s.index('a')

0

In [104]:
s.index('c')

2

In [105]:
s.index('z')

25

In [106]:
s.index('y')

24

In [107]:
s.index('q')

16

# #2.14

In [108]:
s='goodbye'

In [119]:
#(a)
s('g')==[0]

TypeError: 'bool' object is not callable

# #2.15

In [256]:
#(a)
word0=set('anachronistically')
word1=set('counterintuitive')
x=len(word0)
y=len(word1)
diff=abs(y-x)
if x>y:
    print('anachronistically have',diff,'alphabet/s more then counterintuitive.')
elif word1length==word0length:
        print('counterintuitive. have',diff,'alphabet/s more then anachronistically')

anachronistically have 2 alphabet/s more then counterintuitive.

In [257]:
#(b)
dic=['misinterpretation','misrepresentation']
dic.sort()
print(dic)

['misinterpretation', 'misrepresentation']

In [259]:
#(c)
a=set('floccinaucinihilipilification')
if 'e' in a:
    print('there is an "e" in here')
else:
     print('not equal')

not equal

In [260]:
#(d)
a=('counterrevolution')
b=('counter')
c=('revolution')
if len(a)==len(b)+len(c):
    print('yes this is equal')
else:
    print('not equal')

yes this is equal

# #2.16

In [261]:
#(a)
a=6
b=7

In [130]:
#(b)
c=a+b/2

In [136]:
#(c)
Inventory=['paper','staples','pencils']

In [137]:
#(d)
first='John'
middle='Fitzgerald'
last='Kennedy'

In [142]:
#(e)
fullname=(first+' '+middle+' '+last)
print(fullname)

John Fitzgerald Kennedy

# #2.17

In [139]:
#(a)
17+(-9)<=10

True

In [145]:
#(b)
len(Inventory)>=(len(fullname))*5

False

In [149]:
#(c)
not len(Inventory)>(24)

True

In [270]:
#(d)
items = []
for i in range(6,7):
    s = str(i)
    if (int(s[6]%2 in i==0)):
        print("True")

IndexError: string index out of range

In [155]:
#(e)
len(middle)>len(first)<len(last)

True

In [160]:
#(f)
Inventory==0 or len(Inventory)>10

False

# #2.18

In [161]:
#(a)
flowers=['rose','bougainvillea','yucca','marigold','daylilly','lilly of the valley']

In [162]:
#(b)
'potato'==flowers

False

In [163]:
#(c)
thorny=['rose','bougainvillea','yucca']

In [164]:
#(d)
poisonous=['lilly of the valley']

In [276]:
#(e)
dangerous=['rose','bougainvillea']+['lilly of the valley']
print(dangerous)

['rose', 'bougainvillea', 'lilly of the valley']

# #2.19

In [172]:
answers=['Y','N','N','Y','N','Y','Y','Y','N','N','N']

In [175]:
#(a)
numYES=answers.count('Y')
print(numYES)

5

In [176]:
#(b)
numNO=answers.count('N')
print(numNO)

6

In [282]:
#(c)
per=((str('Y'))//(len(answers))*(100))
percentYes=per

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [181]:
#(d)
answers.sort()
answers

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [183]:
#(e)
f=answers.index('Y')
f

6

# #2.20

In [293]:
def reverse(s): 
    str = "top" 
    for i in s: 
        str =str
        return str
s = "pot"
print ("The original string  is : ",end="") 
print (s) 
print ("The reversed string(using loops) is : ",end="") 
print (reverse(s))

The original string  is : pot
The reversed string(using loops) is : top

# #2.21

# #2.22

In [199]:
lst=[3,7,-2,12]
lst=(12-(-2))
lst

14

# #2.23

In [220]:
monthsL=['Jan','Feb','Mar','May']
monthsT=('Jan','Feb','Mar','May')

In [221]:
#(a)
monthsL.insert(2,'Apr')
monthsL

['Jan', 'Feb', 'Apr', 'Mar', 'May']

In [209]:
#(b)
monthsL.append('jun')
monthsL

['Jan', 'Feb', 'Apr', 'Mar', 'May', 'Apr', 'jun']

In [210]:
#(c)
monthsL.pop()

'jun'

In [214]:
#(d)
monthsL.remove('Apr')
monthsL

['Jan', 'Mar', 'May', 'Apr']

In [215]:
#(e)
monthsL.reverse()
monthsL

['Apr', 'May', 'Mar', 'Jan']

In [216]:
#(f)
monthsL.sort()
monthsL

['Apr', 'Jan', 'Mar', 'May']

In [223]:
monthsT.insert(2,'Apr')

AttributeError: 'tuple' object has no attribute 'insert'

# #2.24

In [224]:
grades=['B','B','F','C','B','A','A','D','C','D','A','A','B']

In [227]:
grades1=[grades.count('A'),grades.count('B'),grades.count('C'),grades.count('D'),grades.count('F')]
grades1

[4, 4, 2, 2, 1]

# #2.25

In [228]:
grades=('B','B','F','C','B','A','A','D','C','D','A','A','B')

In [230]:
grades2=(grades.count('A'))
grades2

4

# #2.26

In [296]:
r=10
coordinate1=[0,10,6,-7]
coordinate2=[0,10,-6,8]
for y in coordinate2:
    for x in coordinate1:
        distance=(x*x+y*y)*(x*x+y*y)
        if distance<=r:
            print('True')
        else:
            print('False')
            break

True
False
False
False
False

# #2.27

In [294]:
#(a),(b),(c),(d)
from math import sin
length=[16,20,24,24]
angle=[75,0,45,80]
for a in angle:
    radians=(22/7)*(a/180)
    for b in length:
        height=b*sin(radians)
        print('height =',height)
        break

height = 15.456992901485119
height = 0.0
height = 11.317284449359697
height = 15.758482990951048

# #2.28

In [232]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [240]:
#(a)
lst.index(5)

4

In [239]:
#(b)
middle = int(len(lst)/2)
print(middle)

5

In [241]:
#(c)
lst.sort(reverse=True)
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [248]:
#(d)
lst.remove(9)
lst

[8, 7, 6, 5, 4, 3, 2, 0]

In [249]:
lst.append(9)
lst

[8, 7, 6, 5, 4, 3, 2, 0, 9]

# #2.29

In [250]:
#(a)
(0)==(1)==(2)

False

In [251]:
#(b)
(2+3)==(4+5)==7

False

In [252]:
#(c)
(1<-1)==(3>4)

True

# #2.30

In [307]:
def string(s):
    str1 = ""
    for ele in s:  
        str1 += ele 
        return str1  
s=['python']
print(string(s))

python

# #2.31

In [297]:
lst=[2,3,4]

In [298]:
lst.extend([5,6,7,8])
lst

[2, 3, 4, 5, 6, 7, 8]

In [300]:
lst.copy()
lst

[2, 3, 4, 5, 6, 7, 8]

In [301]:
lst.clear()
lst

[]

In [303]:
lst2=[1,8,9,0]